.container{
    width:90%;
    height:80vh;

    gap:20px;
    padding:40px;

    align-items: center;
}

a{
    text-decoration:none;
    color:hotpink;
}

body {
  background-image: url('floorplan.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.box3{
    position:fixed;
    margin-left: 38vw;
    margin-top: 15vh; 
}

.box2{
    position:fixed;
    margin-left: 58vw;
    margin-top: 30vh; 
}

.box1{
    position:fixed;
    margin-left: 47vw;
    margin-top: 47vh; 
}

.box1 img,
.box2 img,
.box3 img{
    width: 100px;   /* change size here */
    height: auto;  /* keeps image proportions */
}
.box1,
.box2,
.box3{
    position: fixed;
    animation: float 3s ease-in-out infinite;
}

/* image sizes */
.box1 img,
.box2 img,
.box3 img{
    width:40%;
}

/* enlarge on hover */
.box1 img:hover,
.box2 img:hover,
.box3 img:hover{
    transform: scale(1.3);
}

/* floating animation */
@keyframes float{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}